<!-- <div class="tabs" style="position: relative; display: flex; justify-content: space-around;">
  <a href="/profile" class="tab <%= activeTab === 'profile' ? 'active' : '' %>">Profile</a>
  <a href="/wallet" class="tab <%= activeTab === 'wallet' ? 'active' : '' %>">Wallet</a>
  <a href="/settings" class="tab <%= activeTab === 'settings' ? 'active' : '' %>">Settings</a>
</div> -->


  <!-- Profile Section -->
  <section class="profile">
    <div class="profile-card">
      <div style="margin-left:5%;">  

        
            
         <div class="profile-avatar  position-relative d-inline-block">
        <img src="<%= user.profilepic || '/images/default-avatar.png' %>" alt="User"referrerpolicy="no-referrer">
        <a href="/profile/<%= user._id %>/editProfile" class="btn btn-sm edit-btn position-absolute">  <i class="bi bi-pencil"></i>

</a>
    
      </div>

      <div class="profile-info">
        <h2><%= user.fullName %></h2>
    
            <p><i class="bi bi-envelope-at-fill"></i>  <%= user.email %></p>
                <p><i class="fa-solid fa-location-dot"></i> <%= user.location %></p>
      </div>
    </div>
   <div style="margin-right:5%;"> <a class="border-btn rounded-pill" href="/logout"><i class="fa-solid fa-person-running"></i>

 Log Out</a></div>
     
    </div>
     </section>
    <!-- Tabs -->
    <div class="tabs">
      <a href="/profile/<%= user._id %>/dashboard"class="tab <%= activeTab === 'profile' ? 'active' : '' %>">Dashboard</a>
      <a href="/profile/<%= user._id %>/myLearning"class="tab <%= activeTab === 'mylearning' ? 'active' : '' %>">My Learning</a>
      <a href="/profile/<%= user._id %>/wishlist" class="tab <%= activeTab === 'wishlist' ? 'active' : '' %>">Wishlist</a>
      <a href="/profile/<%= user._id %>/history" class="tab <%= activeTab === 'history' ? 'active' : '' %>">Purchase History</a>
      <a href="/profile/<%= user._id %>/cart" class="tab <%= activeTab === 'cart' ? 'active' : '' %>">Cart</a>
    </div>